/* COMMON ELEMENTS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --active-color: #2196f3;
  --heading-color: #212121;
  --paragraph-color: #757575;
  --footer-background: #2f303a;
  --icons-color: #afb1b8;
}

body {
  font-family: var(--text-font-family);
}

.container {
  width: 1600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: var(--active-color);
}

.title {
  color: var(--heading-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 2.636875em;
  letter-spacing: 0.03em;
  text-align: center;
}

/* HEADER  */

.global-header {
  display: flex;
  height: 80px;
  align-items: center;
  padding-left: 215px;
}

.global-header .navigation ul {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 366px;
}

a.global-header {
  padding-right: 93px;
}

.global-header .contact-data {
  display: flex;
  padding-right: 215px;
  gap: 40px;
}

/* LOGO  */

.logo {
  text-decoration: none;
  font-family: var(--logo-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.9075em;
  letter-spacing: 0.03em;
  color: #000;
}

.web {
  color: var(--active-color);
}

/* FOOTER */

.container-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--footer-background);
}

.footer {
  display: flex;
  flex-direction: column;
  width: 1600px;
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  padding-left: 215px;
}

.studio {
  color: #fff;
}

.address {
  padding-top: 28px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.03em;
  display: flex;
}

.contact {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* NAVBAR INDEX */

/*
  TODO: adjust width, add underline
*/

.navigation {
  display: flex;
  color: var(--heading-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.02em;
  padding-left: 93px;
}

.contact-data a {
  color: #757575;
}

/* SERVICE REQUEST SECTION INDEX */

.service-request-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 3.75em;
  letter-spacing: 0.06em;
  text-align: center;
  height: 600px;
  background-image: url("../images/bg-request-service.png"),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
}

.service-request-section h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  width: 696px;
  text-align: center;
}

.button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--active-color);
  width: 200px;
  padding: 10px 0 10px 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-style: none;
}

/* DESCRIPTIVE SECTION INDEX */

.paragraph-section {
  gap: 30px;
  display: flex;
  padding-top: 94px;
  box-sizing: content-box;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.paragraph-section div {
  width: 270px;
}

.paragraph-section div p {
  padding-top: 10px;
}

.paragraph-title {
  color: var(--heading-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: left;
}

.paragraph-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-align: left;
}

/* WHAT WE DO SECTION INDEX */

.what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do ul {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

/* OUR TEAM SECTION INDEX */

.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 50px;
}

.our-team-cards {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team ul {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-bottom: 94px;
  padding-top: 50px;
}

.our-team-names {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background-color: #fff;
}

.name {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.171875em;
  letter-spacing: 0.03em;
  text-align: center;
}

.job-title {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.171875em;
  letter-spacing: 0.03em;
  text-align: center;
}

.icons-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  margin-bottom: 30px;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon {
  color: var(--icons-color);
}

.icon:hover,
.icon:active {
  width: 44px;
  height: 44px;
  background-color: var(--active-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}
/* NAVBAR PORTFOLIO */

.portfolio-buttons ul {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-button {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--active-color);
  outline: none;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* IMAGES SECTION PORTFOLIO */

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 215px;
  margin-bottom: 94px;
}

.img-box div {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 20px 24px 20px 24px;
  cursor: pointer;
}

.img-box:hover {
  border: 1px solid #eee;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.image-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.image-description {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  text-align: left;
}
